
/* Preloader */
body {
	overflow: hidden;
	font-family: DIN, sans-serif;
	max-width: 100%;
    overflow-x: hidden;
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

.background {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
z-index: 0;
}

#preloader #loaderWrap {
position: absolute;
width: 800px;
height: 250px;
left: 50%;
margin-left: -400px;
margin-top: -125px;
top: 50%;
}

.ajaxcontainer{
width: 100%;
height: 100%;
}


.header {
height: 85px;
/* background-color: rgb(2, 2, 2); */
position: absolute;
z-index: 90;
width: 100%;

}

.headerlineblack {
height: 1px;
border-bottom-style: solid;
border-bottom-color: black;
border-bottom-width: 1px;
/* background-color: rgb(2, 2, 2); */
position: absolute;
z-index:1;
width: 0%;
top: 100%
}

.headerlinewhite {
height: 1px;
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 1px;
/* background-color: rgb(2, 2, 2); */
position: absolute;
z-index:1;
width: 0%;
top: 100%
}

.samplemenu {
-webkit-transform: translate(0, -55px);
-moz-transform: translate(0, -55px);
-o-transform: translate(0, -55px);
-ms-transform: translate(0, -55px);
transform: translate(0, -55px);
-webkit-transition: .25s;
-moz-transition: .25s;
-o-transition: .25s;
transition: .5s;
opacity: 0;
position: relative;
cursor: pointer;
font-size: 1.2em;
display: inline;
top: 35%;
/* height: 27px; */
z-index: 90;
color: black;
padding: 5px;
text-transform: uppercase;
letter-spacing: .1em;
left: 40%;
text-decoration: underline;
/* text-align: center; */
}
	
.samplemenu.visible{
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;

	}

.sampleclose {
-webkit-transform: translate(0, -55px);
-moz-transform: translate(0, -55px);
-o-transform: translate(0, -55px);
-ms-transform: translate(0, -55px);
transform: translate(0, -55px);
-webkit-transition: .25s;
-moz-transition: .25s;
-o-transition: .25s;
transition: .5s;
opacity: 0;
position: relative;
cursor: pointer;
font-size: 1.2em;
display: inline;
top: 35%;
/* height: 27px; */
z-index: 90;
color: black;
padding: 5px;
text-transform: uppercase;
letter-spacing: .1em;
left: 40%;
text-decoration: underline;
}

.sampleclose.visible{
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;

	}
	
#ajaxReturn {
position: relative;
display: inline;
text-decoration: none;
}




/*Safari and Chrome*/
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 700px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 700px;}
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/**************************************************************************************************/
@font-face {  
    font-family: 'BebasRegular';  
    src: url('font/BEBAS___-webfont.eot');  
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),     
    url('font/BEBAS___-webfont.woff') format('woff'),     
    url('font/BEBAS___-webfont.ttf') format('truetype'),     
    url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');  
    font-weight: normal;  
    font-style: normal;  
    }  
     
html{ 
    font-family: 'BebasRegular';   
    width:100%;     
    height:100%;  
}

body{ 
     background-color:white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;     
    height:100%;  
	/*background-image: url(../img/art.jpg);*/
}

body::-webkit-scrollbar{
	display: none;
	}

::selection {
	background: #fe6159;
	color: #fff;
}

/* Mozilla based browsers */
::-moz-selection {
       background-color: #FFA;
       color: #000;
}

 /*  
  .navigation li {
	color: #fff;
	display: block;
	padding: 0 10px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom: 1px solid #fff;
	text-align: left;
	width: 100%;
}
.navigation li:hover,
.activenav {   
    cursor:pointer;  
}
*/

.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
	z-index: 4;
}




/****************************** menu Icon styles start*******************************/ 

.menu {
-webkit-backface-visibility: visible !important;
-webkit-transition: opacity 700ms linear 0ms;
-moz-transition: opacity 700ms linear 0ms;
-ms-transition: opacity 700ms linear 0ms;
-o-transition: opacity 700ms linear 0ms;
transition: opacity 700ms linear 0ms;
position: fixed;
cursor: pointer;
font-size: 23px;
display: block;
left: 30px;
top: 0px;
height: 27px;
z-index: 91;
color: black;
opacity: 0;
padding: 10px;
text-transform: uppercase;
letter-spacing: .1em;

}
/*
.menu.active {
opacity: 1;
-webkit-transform: translateZ(1px);
-moz-transform: translateZ(1px);
-ms-transform: translateZ(1px);
-o-transform: translateZ(1px);
transform: translateZ(1px);
z-index: 90;
}
*/
.menu.active.close:hover{
color: white;
}

.menu .top, .menu .meat {
margin-bottom: 4px;
}
.menu span {
-webkit-transition: -webkit-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
-moz-transition: -moz-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
-ms-transition: -ms-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
-o-transition: -o-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
transition: transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);
background: black;
display: block;
width: 30px;
height: 3px;
}

.menu .meat {
-webkit-transition: opacity 300ms ease-in-out 0ms;
-moz-transition: opacity 300ms ease-in-out 0ms;
-ms-transition: opacity 300ms ease-in-out 0ms;
-o-transition: opacity 300ms ease-in-out 0ms;
transition: opacity 300ms ease-in-out 0ms;
}

.menu div {
display: inline-block;

}

.menu:hover div {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	}
	
	
.menutitle {
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-o-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	
	opacity: 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .5s;
	}

.verticalline {
	background-color: black;
	width: 4px;
	height: 80%;
	opacity: 1;
	margin-right: 10px;
}
.currenttitle{
	opacity: 1;
	color: black;
	}

.menu:hover .top {
	-webkit-transform: rotateZ(0deg) translateX(0px) translateY(-3px);
	-moz-transform: rotateZ(0deg) translateX(0px) translateY(-3px);
	-ms-transform: rotateZ(0deg) translateX(0px) translateY(-3px);
	-o-transform: rotateZ(0deg) translateX(0px) translateY(-3px);
	transform: rotateZ(0deg) translateX(0px) translateY(-3px);
}

.menu:hover .bottom {
	-webkit-transform: rotateZ(0deg) translateX(0px) translateY(3px);
	-moz-transform: rotateZ(0deg) translateX(0px) translateY(3px);
	-ms-transform: rotateZ(0deg) translateX(0px) translateY(3px);
	-o-transform: rotateZ(0deg) translateX(0px) translateY(3px);
	transform: rotateZ(0deg) translateX(0px) translateY(3px);
}

.menu.close .meat{
	opacity: 0;
	background-color: white;
	}
	
.menu.close .top {
-webkit-transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
-moz-transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
-ms-transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
-o-transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
transform: rotateZ(45deg) translateX(5px) translateY(5px) !important;
background-color: white;
}

.menu.close .bottom {
-webkit-transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
-moz-transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
-ms-transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
-o-transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
transform: rotateZ(-45deg) translateX(5px) translateY(-5px) !important;
background-color: white;
}

/****************************** menu Icon styles ENDs*******************************/ 

/******************************
 SLIDE 1 
*******************************/
#slide1 {
background-color: white;
/* background-image: url('../img/mplsbw.jpg'); */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
/*background-image: url(../img/art.jpg);*/
}

.over {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
	
}

/****************************** Intro ******************************/ 

.intro_box {
position: absolute;
color: #696969;
/*font-size: 50px;*/

/*text-align: center;*/
width: 100%;
height: 100%;
z-index: 4;
margin-left: auto;
margin-right: auto;
/*box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);*/

}


.intro_wrapper {
position: absolute;
height: 80%;
width: 90%;
margin: 4.5% 5%;
border: 20px solid #fff;
box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
}

.intro {
position: absolute;
height: 100%;
width: 100%;
/* margin: 15% 0 0 0; */
/* border: 20px solid #fff; */
/* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4); */
}

.intro_box span {
position: absolute;
top: 65%;
float: left;
width: 100%;
text-align: center;
}
	
/*
.hidden{
	display: none;
	}

*/

#myCanvas{
position: absolute;
}

/****************************** Section 1 *******************************/
.my-list {
width: 101%;
height: 34%;
padding: 0;
background: #000;
list-style: none;
/*text-indent: -9000px;*/
font-size: 0;
-webkit-transform: translateY(2px);
-moz-transform: translateY(2px);
-o-transform: translateY(2px);
-ms-transform: translateY(2px);
transform: translateY(2px);
}
#section1 .wrap {
height: 66%;
}
#section1 .wrap {
display: table;
width: 100%;
}

#section1 .wrap>.inner {
display: table-cell;
vertical-align: middle;
}

.container {
max-width: 990px;
margin: 0 auto;
}

.section h1, .section .h1 {
margin: 0 0 .75em;
font-size: 72px;
line-height: 1;
}

.section h1, .section .h1 {
text-align: center;
text-transform: lowercase;
font-weight: 300;
}

.my-list li {
width: 16.666%;
height: 50%;
float: left;
}

.my-list a {
display: block;
height: 100%;
overflow: hidden;
position: relative;
-webkit-tap-highlight-color: rgba(254,97,89,.8);
}



a:active, a:hover {
outline: 0;
}

a {
background: 0 0;
}

a:-webkit-any-link {
cursor: auto;
}

.my-list .bg1, .my-list .bg2,
.my-list .i1, .my-list .i2, .my-list .i1:after, .my-list .i2:after{
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
-webkit-transition: .35s;
-moz-transition: .35s;
-o-transition: .35s;
transition: .35s;

}

.my-list .i1 h1, .my-list .i1:after h1 {
font-size: 30px;
width: 100%;
text-align: center;
color: white;
display: block;
padding-top: 20%;
}

.my-list .who .bg1{
background-image: url(../img/japan8.jpg);
}
.my-list .place .bg1{
background-image: url(../img/japan16.jpg);
}

.my-list .Education .bg1{
background-image: url(../img/japan15.jpg);
}

.my-list .Courses .bg1{
background-image: url(../img/japan14.jpg);
}

.my-list .Skills .bg1{
background-image: url(../img/japan13.jpg);
}

.my-list .Language .bg1{
background-image: url(../img/japan12.jpg);
}

.my-list .Certificate .bg1{
background-image: url(../img/japan11.jpg);
}

.my-list .Work .bg1{
background-image: url(../img/japan10.jpg);
}

.my-list .Hobby .bg1{
background-image: url(../img/japan9.jpg);
}

.my-list .who .bg1{
background-image: url(../img/japan8.jpg);
}

.my-list .Programming .bg1{
background-image: url(../img/japan5.jpg);
}


.my-list .Interest .bg1{
background-image: url(../img/japan13.jpg);
}

.my-list .Travel .bg1{
background-image: url(../img/japan12.jpg);
}


.my-list a:hover .bg1 {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.my-list .place .bg1,.my-list .Education .bg1,.my-list .Courses .bg1,.my-list .Skills .bg1,
.my-list .Language .bg1,.my-list .Certificate .bg1,.my-list .Work .bg1,.my-list .Hobby .bg1,
.my-list .Hobby2 .bg1,.my-list .Programming .bg1,.my-list .Interest .bg1,.my-list .Travel .bg1
{
/*background: no-repeat center center;*/
background-size: cover;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

.section-work .work-list .bg1:after {
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: rgba(0,0,0,.8);
}

.my-list .i2 {
opacity: 0;
-webkit-transform: translateY(-100%);
-moz-transform: translateY(-100%);
-o-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
}

.my-list .i1:after, .my-list .i2:after {
content: "";
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

a {
text-decoration: none;
color: #fe6159;
-webkit-transition: .15s;
-moz-transition: .15s;
-o-transition: .15s;
transition: .15s;
}

.my-list .bg2 {
opacity: 0;
background-image: -webkit-linear-gradient(top,#ff5e3a 0,#ff2a68 100%);
background-image: -moz-linear-gradient(top,#ff5e3a 0,#ff2a68 100%);
background-image: -o-linear-gradient(top,#ff5e3a 0,#ff2a68 100%);
background-image: linear-gradient(to bottom,#ff5e3a 0,#ff2a68 100%);
}

.my-list a:hover .bg2 {
opacity: .6;
}
/*
.aboutContent {
display: block;
text-align:left;
-webkit-transform: translateX(150px);
-moz-transform: translateX(150px);
-o-transform: translateX(150px);
-ms-transform: translateX(150px);
transform: translateX(150px);
-webkit-transition: 1s;
-moz-transition: 1s;
-o-transition: 1s;
transition: 1s;
opacity: 0;
}

.aboutContent.visible{
opacity: 1;
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
-webkit-transition: 1s;
-moz-transition: 1s;
-o-transition: 1s;
transition: 1s;
}
*/

.aboutContent {
display: block;
text-align:left;
opacity: 0;
top:70%;
width: 60%;
}
/****************************** 
about button
*******************************/ 
.aboutbtn {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
height: 50px;
overflow: hidden;
padding: 0 2.5em;
position: relative;
background: 0 0;
border: none;
outline: 0;
text-align: center;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 50px;
letter-spacing: .476em;
color: #038B29;;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(254,97,89,.5);
-webkit-transition: .15s;
-moz-transition: .15s;
-o-transition: .15s;
transition: .15s;
background-color: white;
}

.aboutbtn:before {
border: 2px solid #038B29;;
}
.aboutbtn:before, .aboutbtn:after {
content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.aboutbtn:after {
content: attr(data-title);
z-index: 1;
color: #fff;
}

.aboutbtn .helper {
width: 100%;
height: 0;
position: absolute;
top: 50%;
left: 50%;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
background-image: -webkit-linear-gradient(left,#00680C 0,#FFFFFF 100%);
background-image: -moz-linear-gradient(left,#00680C 0,#FFFFFF 100%);
background-image: -o-linear-gradient(left,#00680C 0,#FFFFFF 100%);
background-image: linear-gradient(to right,#00680C 0,#FFFFFF 100%);
-webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
-moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
-o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
-ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.aboutbtn:after, .aboutbtn .helper {
opacity: 0;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
transition: .3s;
}

.aboutbtn:hover:after, .aboutbtn:active:after, .aboutbtn:hover .helper, .aboutbtn:active .helper {
opacity: 1;
}

.cl-effect-3 {
float: right;
}

/****************************** 
3D button
*******************************/
/****************************** 
.cl-effect-3 {
position: relative;
top: 2%;
}

.cl-effect-3 a {
line-height: 75px;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;
text-align: center;
display: inline-block;
margin: 0px 5px;
width: 20%;
right: 0; 
float: right;
}




.aboutBtn span {
margin-top: 0px;
width: 230px;
}

.cl-effect-3 a span {
position: relative;
display: inline-block;
background: #575757;
-webkit-transition: -webkit-transform 0.3s;
-moz-transition: -moz-transform 0.3s;
transition: transform 0.3s;
-webkit-transform-origin: 50% 0;
-moz-transform-origin: 50% 0;
transform-origin: 50% 0;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
width: 100%;
height: 75px;
color: white;
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 0.8em;
float: right;
}

.cl-effect-3 a span:before {
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background: rgb(245, 79, 79);
content: attr(data-hover);
-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
transition: background 0.3s;
-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
-webkit-transform-origin: 50% 0;
-moz-transform-origin: 50% 0;
transform-origin: 50% 0;
color: white;
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 1em;
}


.cl-effect-3 a:hover span{
-webkit-transform: rotateX(90deg) translateY(-22px);
-moz-transform: rotateX(90deg) translateY(-22px);
transform: rotateX(90deg) translateY(-22px);
}
*******************************/


/****************************** Section 3 *******************************/ 
#slide3 {   
    background-color:white;  
	/*background-image: url(../img/art.jpg);*/
	background-size: cover;
}  

.samplecontainer {
width: 100%;
overflow: hidden;
height: 100%;
box-sizing: content-box;
}

.samples.overview{
	left: 0px;
	position: relative;
	top: 20%;
	width: 1750px;
	height: 70%;

}

.samples li {
	display: inline-block;
	position: relative;
	float: left;
	/*padding: 40px 30px;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
	-webkit-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-o-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
	z-index:10;
	border:20px solid #fff;
	-webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4)
}

li.sample:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	-webkit-box-shadow: 0px 0px 80px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 80px 0px rgba(0,0,0,1);
	}

ul.samples {
	cursor: hand;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.space{
	width:75px;
	display: block;
	height: 100%
	}

.sample {
	height: 100%;
	width: 400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: no-repeat;
	
	}
	
.samples .sample.visible {
opacity: 1;
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
}

.samples li.visible{
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
}
.space{
	display: hidden;
	}
	

.sample .title{
		margin: 5%;
	}
	
.samples.overview li.sample .title h2 {
font-size: 50px;
/* line-height: 80px; */
text-transform: uppercase;
text-align: left;
}

.projectcontent {
margin: 5%;
top: 35%;
position: absolute;
}
	
.projectcontent h3{
text-align: left;
}

#case1 {
	/*background-image: url(../img/bridge.jpg);*/
	background-color: #4BBFC3;
	}
	
#case2 {
	background-image: url(../img/bridge.jpg);
	
	}
	
#case3 {
	background-image: url(../img/art.jpg);
	background: cover;
	}

#case4 {
	background-image: url(../img/star.jpg);
	color: white;
	}




/******************************
 SLIDE 4 
*******************************/
.contactoutline{
-webkit-transform: translate(-100%,0%);
-moz-transform: translate(-100%,0%);
-o-transform: translate(-100%,0%);
-ms-transform: translate(-100%,0%);
transform: translate(-100%,0%);
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
transition: .3s;
background: rgba(0, 0, 0, 0.8);
z-index: 89;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
visibility: hidden;
opacity: 0;
}

.contactoutline.visible {
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
visibility: visible;
opacity: 1;
z-index: 89;
}
/*
#slide4{
    background-image:url(../img/art.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index:10;
}
*/
#slide4 .parallaxbg{
    position:absolute;
    right:40px;
    top:40px;
    font-size:28px;
    color:rgba(51,51,51,0.3);
}



#slide4 .wrap {
	height: 100%;
}


#slide4 .wrap {
	display: table;
	width: 100%;
}

#slide4  .wrap .inner {
	display: table-cell;
	vertical-align: middle;
}

.container {
max-width: 990px;
margin: 0 auto;
}



#slide4 h1 {
min-height: 1em;
margin: 0 0 1.2em;
text-transform: none;
}


#slide4 h1 {
margin: 0 0 .75em;
font-size: 72px;
line-height: 1;
}
#slide4 h1 {
text-align: center;
text-transform: lowercase;
font-weight: 300;
}

#slide4 h1 span {
	display: inline-block;
	min-width: 15px;
	min-height: 1em;
	position: relative;
	color: #fff;
	z-index: 7;
}

form{
	display: block;
	margin-top:0em;
	}

.field{
	margin:0 0 50px;
	position: relative;
	z-index: 6;
	}
	
p {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#section1 p {
	position: absolute;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
input[type=text].half, input[type=email].half, input[type=tel] input[type=password].half, textarea.half {
	width: 50%;
}

input[type=text], input[type=email], input[type=tel] input[type=password], textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	background: #fff;
	background: url(../img/inputline.png) repeat-x 0 -14px;
	border: none;
	outline: 0;
	font-weight: 600;
	font-size: 40px;
	line-height: 1;
	color: #6F6F6F;
}

input[type=text].full, input[type=email].full, input[type=tel] input[type=password].full, textarea.full {
width: 100%;
}

textarea {
height: 143px;
overflow: hidden;
resize: none;
background-repeat: repeat;
font-weight: 600;
font-size: 40px;
/*line-height: 50px;*/
/* font: -webkit-small-control; */
}

.contact-form .end {
	margin-top: 65px;
	position: relative;
	z-index: 6;
	}

.contact-form .end p {
	margin: 0;
}

.contact-form .end .button {
	width: 260px;
}
.samplebutton {
position: absolute;
bottom: 10%;
width: 100%;
height: 50px;
text-align: center;
}

.button {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
height: 50px;
overflow: hidden;
padding: 0 2.5em;
position: relative;
background: 0 0;
border: none;
outline: 0;
text-align: center;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 50px;
letter-spacing: .476em;
color: #fe6159;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(254,97,89,.5);
-webkit-transition: .15s;
-moz-transition: .15s;
-o-transition: .15s;
transition: .15s;
width: 75%;
}

.button:before {
border: 2px solid #fe6159;
}
.button:before, .button:after {
content: "";
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.button:after {
content: attr(data-title);
z-index: 1;
color: #fff;
}

.button .helper {
width: 100%;
height: 0;
position: absolute;
top: 50%;
left: 50%;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
background-image: -webkit-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
background-image: -moz-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
background-image: -o-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
background-image: linear-gradient(to right,#ff5e3a 0,#ff2a68 100%);
-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.button:after, .button .helper {
opacity: 0;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
transition: .3s;
}

.button:hover:after, .button:active:after, .button:hover .helper, .button:active .helper {
opacity: 1;
}


#slide4 h1>span:after {
content: "";
display: block;
opacity: 0;
width: 2px;
height: 100%;
position: absolute;
top: 0;
right: -5px;
background: #fe6159;
}

#slide4 h1>span.blinking-cursor:after {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: .7s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/****************************** main-menu icon *******************************/ 


.main-menu .outline {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 12%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 89;
visibility: hidden;
opacity: 0;
}

/*.main-menu .outline, .main-menu nav, .main-menu{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 200px;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 89;
}*/


.index {
z-index: 88;
}


.main-menu .outline {
-webkit-transform: translate(-200px,0px);
-moz-transform: translate(-200px,0px);
-o-transform: translate(-200px,0px);
-ms-transform: translate(-200px,0px);
transform: translate(-200px,0px);
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
transition: .3s;
background: rgba(0, 0, 0, 0.8);
z-index: 89;
}
/*
.main-menu .outline:before {
width: 300px;
top: 0px;
}

background-color: black;

background-image: -webkit-linear-gradient(top,#03A27B 0,#05B6FC 100%);
background-image: -moz-linear-gradient(top,#03A27B 0,#05B6FC 100%);
background-image: -o-linear-gradient(top,#03A27B 0,#05B6FC 100%);
background-image: linear-gradient(to bottom,#03A27B 0,#05B6FC 100%);
*/

/*
.main-menu .outline:after {
height: 80px;
right: -250px;
top: 0;
background-image: -webkit-linear-gradient(left,#03A27B 0,#05B6FC 100%);
background-image: -moz-linear-gradient(left,#03A27B 0,#05B6FC 100%);
background-image: -o-linear-gradient(left,#03A27B 0,#05B6FC 100%);
background-image: linear-gradient(to right,#03A27B 0,#05B6FC 100%);
}


.main-menu.outline:before{
content: "";
display: block;
position: absolute;
left: 0px;
}
*/

.outline.visible{
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
visibility: visible;
opacity: 1;
z-index: 90;
}



/****************************** main-menu NAV *******************************/
/* 
.main-menu.visible nav {
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
}

.main-menu nav {
width: 300px;
/*padding: 200px 30px 0 30px;*/
/*
left: 0;
right: auto;
text-align: left;
font-size: 13px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transform: translateX(-300px);
-moz-transform: translateX(-300px);
-o-transform: translateX(-300px);
-ms-transform: translateX(-300px);
transform: translateX(-300px);
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;
transition: .2s;
}

.main-menu.visible nav li.visible {
opacity:1;
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
}

.main-menu.visible nav li {
opacity:0;
-webkit-transform: translateX(-300px);
-moz-transform: translateX(-300px);
-o-transform: translateX(-300px);
-ms-transform: translateX(-300px);
transform: translateX(-300px);
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
*/

/****************************** main-menu NAV List*******************************/ 


.nav-item {
display: block;
opacity: 0;
-webkit-transform: translate(-200px,0px);
-moz-transform: translate(-200px,0px);
-o-transform: translate(-200px,0px);
-ms-transform: translate(-200px,0px);
transform: translate(-200px,0px);
-webkit-transition: .4s;
-moz-transition: .4s;
-o-transition: .4s;
transition: .4s;
z-index: 90;
}

.nav-item.visible{
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
opacity: 1;
}

.white{
	color: white;
	}

.black{
	color: black;
	}

.nav-item{
	width: 100px;
	height: 30px;
	background: rgba(0, 0, 0, 0);
	-webkit-font-feature-settings: "kern";
	font-weight: 700;
	position: fixed;
	left: 30px;
	cursor: pointer;
	z-index: 90;
	margin-left: -10px;
	margin-top: -10px;
	padding: 10px;
	text-transform: uppercase;
	top: 30px;
	color: white;
}

#navitem1{
	top: 25%;
	}

#navitem2{
	top: 32%;
	}
	
#navitem3{
	top: 39%;
	}

#navitem4{
	top: 46%;
	}

#navitem5{
	top: 53%;
	}

/*link to resume*/	
#navitem5 a{
text-decoration: none;
}

.label{
	position: absolute;
	font-family: "effra";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15px;
}

 .nav-item .title {
position: absolute;
left: 30px;
line-height: 17px;
margin: -2px 0 0 0;
white-space: nowrap;
/*display: none;
-webkit-transform: translateX(-10px);
-moz-transform: translateX(-10px);
-o-transform: translateX(-10px);
-ms-transform: translateX(-10px);
transform: translateX(-10px);
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;
transition: .2s;
*/
}

.nav-item:hover .title{
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
opacity: 1;
}
/*
.nav-item .title.visible{
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
opacity: 1;
}
*/

.nav-item .line {
position: absolute;
top: 30px;
left: 10px;
width: 5px;
height: 3px;
background: #fff;
opacity: 0.3px;
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
}

.nav-item:hover .line{
width:100px;
opacity: 1;
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;
transition: .2s;
}


.nav-item.active .line{
width:40px;
opacity: 1;
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;
transition: .2s;
}
/*****************************Arrow Icon************************************/
.da-arrows {
-moz-user-select: none;
-webkit-user-select: none;
/* left: 0; */
position: absolute;
width: 100%;
z-index: 1000;
text-align: center;
top: 70%;
}

.process-scroll-text {
color: #252425;
position: relative;
font-weight: bold;
text-transform: uppercase;
font-size: 15px;
/* top: 120px; */
}

.da-arrows a.da-arrows-next {
left: 50%;
margin-left: -25px;
/* top: 150px; */
overflow: hidden;
pointer-events: auto;
}

.da-arrows span, .da-arrows a {
text-align: left;
position: absolute;
top: 50%;
height: 30px;
width: 50px;
border-radius: 20px;
background: #252425;
cursor: pointer;
z-index: 5;
opacity: 1;
-webkit-animation: bounce 1s ease-in-out infinite alternate;
-moz-animation: bounce 1s ease-in-out infinite alternate;
animation: bounce 1s ease-in-out infinite alternate;
}

@-webkit-keyframes bounce {
        0% { -webkit-transform: translate3d(0,   0px,0); 
             -webkit-animation-timing-function: ease-out; }
       50% { -webkit-transform: translate3d(0,20px,0); 
             -webkit-animation-timing-function: ease-in; }
      100% { -webkit-transform: translate3d(0,   0px,0); }
    }
.da-arrows span div, .da-arrows a div {
color: #e6e6e6;
font-size: 15px;
font-size: 1.5rem;
position: absolute;
top: 13px;
left: 13px;
text-align: center;
}

.arrow-down{
width: 100%;
}
/*.scroll-down-icon:before{
	background-image: url(../img/scroll.png);
	}
/****************************** Slide Contents*******************************/ 

.project-container {
width: 90%;
height: 100%;
position: absolute;
top: 0px;
overflow: hidden;
left: 5%;
}

.project-container {
/* top: 100px; */
}

.project-container.light {
color: #252425;
}

.project-text {
top: 0%;
right: 0px;
left: 50%;
bottom: auto;
height: 100%;
width: 50%;
}

.project-text {
display: block;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
z-index: 10;
position: absolute;
display: table;
top: auto;
right: auto;
/* bottom: 10px; */
/*left: 30px;*/
right: 0;
}

.project-text section {
display: table-row;
}

.contentTitle {
width: 600px;
}

.contentTitle {
vertical-align: bottom;
display: table-cell;
width: 450px;
}

.contentTitle {
font-size: 72px;
}


.contentTitle {
font-family: 'uni';
font-weight: bold;
text-transform: uppercase;
line-height: 1.0;
font-size: 80px;
width: 450px;
}



.contentCount {
top: auto;
bottom: 50%;
font-weight: bold;
left: -350px;
}

.contentCount {
font-size: 72px;
}

.contentCount {
line-height: 1.0;
/* font-size: 50px; */
font-family: 'uni';
font-weight: bold;
text-transform: uppercase;
position: absolute;
overflow: hidden;
/* top: -65px; */
/*left: 0px;*/
}

.contentCount span {
position: relative;
top: 0px;
left: 0px;
overflow: hidden;
display: inline;
}

.contentText {
width: 450px;
font-size: 32px;
}

.contentText {
overflow: hidden;
line-height: 1.3;
font-family: 'catalog';
text-transform: none;
font-weight: 100;
position: relative;
width: 450px;
font-size: 25px;
}


/****************************** Media Queries*******************************/ 
/****************************** Media Queries*******************************/ 
/****************************** Media Queries*******************************/ 
@media(max-width: 1024px) {

#slide4 .wrap {
	display: block;
}


#slide4 .wrap>.inner {
	display: block;
}

#slide4 h1 {
	font-size: 54px;
	margin: 0 0 .65em;
}

#slide4 h1 {
	margin: 0 0 .75em;
}

.container {
	max-width: none;
	padding:0 20px;
}

#slide4 .container{
	max-width: 780px;
}

}
